<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>



<!-- div class="container-footer">
<footer class="row footer-hcp" id="footer-hcp">
    <div class="col-md-12">
        <a href="https://risk.lexisnexis.com/copyright" target="_blank" class="footer-link">Copyright</a>
        <span>©</span>
        <span>2022</span>
        <span>LexisNexis Risk Solutions</span>
        <a href="https://risk.lexisnexis.com/terms" target="_blank" class="footer-link">Terms &amp; Conditions</a>
        <span class="divider-vertical"></span>
        <a href="https://risk.lexisnexis.com/privacy-policy" target="_blank" class="footer-link">Privacy &amp; Security</a>
    </div>
</footer>
</div -->