<div class="container-header">
  <header class="row header-hcp" id="header-hcp" role="banner">
    <div class="header-logo col-md-6 text-left">
      <a class="header-logo-image" href="https://risk.lexisnexis.com/healthcare" target="_blank"></a>
      <span class="divider-vertical-lg"></span>
      <span class="header-logo-title">Health Care Portal</span>
    </div>
    <div class="header-links col-md-6 text-right">
      1.866.396.7703
      <span class="divider-vertical"></span>
      <a href="mailto:healthcareportalsupport@lexisnexis.com" class="container-menu-link">Email Us</a>
      <span class="divider-vertical"></span>
      <a href="https://www.accurint.com/health_care.html" target="_blank" class="container-menu-link">Accurint</a>
      <span class="divider-vertical"></span>
      <a href="https://risk.lexisnexis.com/healthcare" target="_blank" class="container-menu-link">United
        States</a>
      <span class="divider-vertical"></span>
      <a href="https://risk.lexisnexis.com/healthcare" target="_blank" class="container-menu-link">
        <span class="mg-r-5 header-worldmap-image"></span>
        Worldwide
      </a>
    </div>
  </header>
</div>